# === Node / Next.js ===
node_modules/
.next/
out/
dist/
*.log
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*
.eslintcache

# === SO / IDE ===
.DS_Store
Thumbs.db
.idea/
.vscode/
*.swp

# === Env (nunca subir secretos) ===
.env
.env.*
!.env.example            # mantener SOLO el ejemplo en Git
!.env.sample             # por si usas sample

# === Prisma / DB local ===
prisma/*.db
prisma/*.sqlite
prisma/*-journal

# === Vercel / Build (opcional ignorar .vercel) ===
.vercel/
.vercel

bubbly-jigsaw-475119-t6-55068437916e.json
// IGNORE reserved device file on Windows
/nul

